
<div class="container" style="margin-top:70px;">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <h1 style="margin-bottom:50px;text-align:center;"> 회원가입 </h1>

        <div class="input-group" style="margin-bottom:15px;">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "이메일" %>
        </div>

        <div class="input-group" style="margin-bottom:15px;">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: '비밀번호'  %>
        </div>

        <div class="input-group" style="margin-bottom:15px;">
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok-sign"></i></span>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: '비밀번호 확인' %>
        </div>

        <div class="input-group" style="margin-bottom:15px;">
          <span class="input-group-addon"><i class="fa fa-address-card"></i></span>
          <%= f.text_field :nickname, autocomplete: "off", class: 'form-control', placeholder: '닉네임' %>
        </div>

        <div class="input-group" style="margin-bottom:15px;">
          <span class="input-group-addon"><i class="fa fa-comment"></i></span>
          <%= f.text_area :description, autocomplete: "off", class: 'form-control', placeholder: '오늘의 한마디를 적어주세요!', style: "min-height:200px;" %>
        </div>

        <textarea class="form-control" id="exampleTextarea" placeholder="" rows="7" style="font-size:12px;margin-bottom:15px;" readonly>
              - 'Nikonokono 커뮤니티' 개인정보 처리방침

              Nikonokono 커뮤니티에서 취급하는 모든 개인정보는 개인정보보호법 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리지침을 수립․공개합니다.
              다만, 홈페이지 운영 중 별도의 개인정보 처리방침을 제정·시행하는 경우 그 방침에 따르고 홈페이지에 그 방침을 공개합니다.

              1. 개인정보의 처리목적, 개인정보의 처리 및 보유기간, 처리하는 개인정보의 항목
              개인정보보호법 제32조에 따라 등록·공개하는 개인정보파일의 처리목적 및 보유기간, 처리하는 개인정보 항목의 조회 방법은 다음과 같습니다.
              1) 개인정보의 수집목적 및 이용목적
                ⅰ) 홈페이지 운영자는 다음과 같은 목적을 위하여 개인정보를 수집하고 있습니다.
                   - 이메일 주소 : 로그인 수단, 비밀번호 찾기 수단 등.
                   - IP주소 : 익명 게시판, 거래 게시판 실명제
                ⅱ) 단, 이용자의 기본적 인권 침해의 우려가 있는 민감한 개인정보(인종 및 민족, 사상 및 신조, 출신지 및 본적지, 정치적 성향 및 범죄기록, 건강상태 등)는 수집하지 않습니다.

              2. 개인정보의 보유기간 및 이용기간
                ⅰ) 귀하의 개인정보는 다음과 같이 개인정보의 수집목적 또는 제공받은 목적이 달성되면 파기됩니다.
                   - 회원가입정보의 경우, 회원가입을 탈퇴하거나 회원에서 제명된 때
                   (단, 등 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 예외로 합니다.)
                ⅱ) 단, 홈페이지에 본인이 작성한 게시물에 대해서는 회원탈퇴가 되어도 보존됨을 알립니다.
                ⅲ) 위 보유기간에도 불구하고 계속 보유하여야 할 필요가 있을 경우에는 귀하의 동의를 받겠습니다.

              3. 의견수렴 및 불만처리
               홈페이지 운영자는 개인정보보호와 관련하여 귀하가 의견과 불만을 제기할 수 있는 창구를 개설하고 있습니다.
               개인정보와 관련한 불만이 있으신 분은 개인정보 관리책임자(홈페이지 운영자)에게 의견을 주시면 접수 즉시 조치하여 처리결과를 통보해 드립니다.

              4. 개인정보 관리책임자
               홈페이지 운영자는 개인정보에 대한 의견수렴 및 불만처리를 담당하는 개인정보 관리책임자를 지정하고 있습니다. 개인정보 관리책임자는 다음과 같습니다.
               · E-mail : monki0120@naver.com

              5. 이 내용은 예고없이 수정될 수 있습니다.

              6. 개인정보 처리방침 수정
              18.03.24 최초 발간
        </textarea>

        <div class="input-group" style="margin-bottom:15px;">
            <input type="checkbox" name="agree">
            <p> 해당 운영방침에 동의합니다. (필수) </p>
        </div>

        <div class="actions" style="margin-top:10px;margin-bottom:10px;">
          <%= f.submit "완료", class:'btn btn-lg btn-primary btn-block' %>
        </div>
      <% end %> <!-- form의 마지막 -->

      <% if @minimum_password_length %>
        <b>( 비밀번호는 최소 <%= @minimum_password_length %> 자리를 입력하세요.  )</b>
      <% end %><br />
    </div>
  </div>
</div> <!-- /container -->
