<html lang="ko">
<head>
  <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
</head>

<body>
  <div class="container" style="margin-top:70px;">
      <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>

          <h1 style="margin-bottom:50px;text-align:center;"> Nikonokono 로그인 </h1>

          <div class="input-group" style="margin-bottom:15px;">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <%= f.email_field :email, autofocus: true, class: 'form-control input-lg', placeholder: '이메일' %>
          </div>

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg', placeholder: '비밀번호' %>
          </div>

          <div class="field" style="margin-top:10px;">
            <% if devise_mapping.rememberable? -%>
              <label>
                <%= f.check_box :remember_me %>
                아이디 기억하기
              </label>
            <% end -%>
          </div>

          <!-- facebook login -->
          <div class="facebook_login" style="margin-top:10px;">
            <% unless current_user %>
              <%= link_to "Facebook 로그인 이용하기", user_facebook_omniauth_authorize_path, class:'btn btn-lg btn-primary btn-block' %>
            <% end %>
          </div>

          <!-- google login -->
          <div class="google_login" style="margin-top:10px;">
            <% unless current_user %>
              <%= link_to "Google 로그인 이용하기", user_google_oauth2_omniauth_authorize_path, class:'btn btn-lg btn-danger btn-block' %>
            <% end %>
          </div>

          <!-- naver login -->
          <div class="naver_login" style="margin-top:10px;">
            <% unless current_user %>
              <%= link_to "Naver 로그인 이용하기", user_naver_omniauth_authorize_path, class:'btn btn-lg btn-success btn-block' %>
            <% end %>
          </div>

          <!-- kakao login -->
          <!-- <div class="kakao_login" style="margin-top:10px;">
            <% unless current_user %>
              <%= link_to "Kakao 로그인 이용하기", user_google_oauth2_omniauth_authorize_path, class:'btn btn-lg btn-warning btn-block' %>
            <% end %>
          </div> -->


          <div class="login" style="margin-top:10px;margin-bottom:10px;">
            <%= f.submit "로그인", class:'btn btn-lg btn-primary btn-block' %>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "회원가입", new_registration_path(resource_name), class: 'btn btn-lg btn-primary btn-block' %>
              <% end -%>
            </div>
            <div class="col-xs-6">
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "비밀번호 찾기", new_password_path(resource_name), class: 'btn btn-lg btn-primary btn-block' %><br />
              <% end -%>
            </div>
          </div>
        <% end %>
        </div> <!-- form_for end tag -->
      </div> <!-- row class end tag -->


      <!-- 페이스북 좋아요 버튼 -->
      <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
      </div>
  </div> <!-- /container -->
  </script>
</body>
