<%= simple_form_for(@bulletin.present? ? [@board.bulletin, @board] : @board) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content, input_html: { rows: 10 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Show', @board, class: 'btn btn-default' if @board.persisted? %>
    <%= link_to '목록', (@bulletin.present? ? bulletin_boards_path(@bulletin) : boards_path), class: 'btn btn-default' %>
  </div>
<% end %>
