<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.title %></td>
        <td><%= board.content.html_safe %></td>
        <td><%= link_to 'Show', (@bulletin.present? ? [board.bulletin, board] : board), class: 'btn btn-default' %></td>
        <td><%= link_to (@bulletin.present? ? edit_bulletin_board_path(board.bulletin, board) : edit_board_path(board)), class: 'btn btn-default'  %></td>
        <td><%= link_to 'Destroy', (@bulletin.present? ? [board.bulletin, board] : board), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board', (@bulletin.present? ?  new_bulletin_board_path(@bulletin) : new_board_path), class: 'btn btn-default' %>
