<html>
<head>
  <style type="text/css">
  h2 {
    text-align:center;
  }
  </style>
</head>

<body>
  <br><br><br><br>

  <div class="container">
    <div class="col-xs-2 col-sm-2 col-md-2"></div>

    <div class="col-xs-8 col-sm-8 col-md-8">
      <h2> 글 수정 페이지 </h2>
      <form action="/showme/board_update/<%= @post.id %>" method="POST">
        <div class="row">
          <div class="form-group">
            <label for="inputTitle">글 제목</label>
            <input type="text" class="form-control" id="inputTitle" name="update_title" value='<%= @post.title %>'>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="inputContent">글 내용</label>
            <textarea rows="10" cols="100" class="form-control" id="inputContent" name="update_content"><%= @post.content %></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <label for="inputSinger">가수 이름</label>
              <input type="text" class="form-control" id="inputSinger" name="update_singer" value='<%= @post.singer %>'>
            </div>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <label for="inputSong">노래 제목</label>
              <input type="text" class="form-control" id="inputSong" name="update_song" value='<%= @post.song %>'>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top:10px;">
          <button type="submit" class="btn btn-success"> 작성 </button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
