<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    .borderless td, .borderless th {
      border: none;
    }
  </style>

  <script>
    // ajax 사용 예정
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

  </script>
</head>
<body>

  <div class="container" style="margin-top:80px">
    <h1 style="text-align:center;margin-bottom:50px"> Show me the Coin </h1>

    <table class="table table-condensed borderless">
      <tr>
        <td ><label> 글 번호 </label></td>
        <td colspan="2"> <%= @post.id %> </td>
      </tr>

      <tr>
        <td ><label> 글 제목 </label></td>
        <td colspan="3"><%= @post.title %></td>
      </tr>

      <tr>
        <td ><label> 작성자 </label></td>
        <td colspan="3"><%= @post.user.email %></td>
      </tr>

      <tr>
        <td ><label> 글 내용 </label> </td>
        <td colspan="3"> <%= @post.content %></td>
      </tr>

      <tr>
        <td ><label> 작성 시간 </label> </td>
        <td colspan="3"><%= showDateTheOther(@post.created_at.to_s) %></td>
      </tr>

      <tr>
        <td><label> 가수 이름 </label></td>
        <td><%= @post.singer %></td>
        <td><label> 노래 제목 </label></td>
        <td><%= @post.song %></td>
      </tr>

      <tr>
        <td><span class="glyphicon glyphicon-thumbs-up"></span></td>
        <td> <%= @post.recom %> </td>
        <td><label> 조회수 </label></td>
        <td><%= @post.hit %></td>
      </tr>
      <tr>

      <tr>
        <td><label> 노래 듣기 </label></td>
        <td colspan="3">
          <audio controls><source type="audio/mpeg"></audio>
        </td>
      </tr>
      <tr>
    </table>

    <!-- 추천 누르는 부분 tooltip으로 꾸미기 -->
    <div class="thumb-up" style="text-align:center;">
      <h2><a href="/showme/recommend/<%= @post.id %>"><span class="glyphicon glyphicon-thumbs-up"></span></a></h2>
    </div>

    <div class="update" style="text-align:right">
      <% if user_signed_in? && current_user.email == @post.user.email %>
        <a href="/showme/board_update_form/<%= @post.id %>" class="btn btn-info"> 수정 </a>
        <a class="btn btn-info" data-toggle="modal" data-target="#post_delete_modal"> 삭제 </a>
        <a href="/showme/board" class="btn btn-info"> 목록 </a>
      <% else %>
        <a href="/showme/board" class="btn btn-info"> 목록 </a>
      <% end %>
    </div>

    <hr />

    <!-- 댓글을 구현하는 부분 -->
    <div class="well">
      <form action="/showme/reply_write" method="POST">
         <div style="margin-bottom:10px;">
           <% if user_signed_in? %>
            <label> E-mail : <%= current_user.email %> </label>
           <% else %>
            <p> 로그인시에 댓글 서비스를 이용할 수 있습니다. </p>
           <% end %>
         </div>
          <input type="hidden" name="reply_email" value="<%= current_user.email %>">
         <div style="margin-bottom:10px;">
           <textarea name="reply_content" class="form-control"
           style="height:80px"
           placeholder="명예를 훼손하는 게시물은 이용약관 및 관련 법률에 의해 제재를 받을 수 있습니다."></textarea>
         </div>
         <div style="margin-bottom:10px;">
           <button type="submit" class="btn btn-success"> 작성 </button>
         </div>
      </form>
    </div>


    <!-- 댓글이 나타나는 부분 -->
    <% @post.replies.each do |r| %>
        <div class="well">
          <p> 작성자 : <%= @post.user.email%></p>
          <p> 내용  : <%= r.content %></p>
          <p> 작성시간 : <%= showDateTheOther(r.created_at.to_s) %> </p>
          <% if user_signed_in? && current_user.email == r.email %>
            <a data-toggle="modal" data-target="#reply_delete_modal"> [삭제] </a>
          <% end %>
        </div>

        <!-- 댓글 삭제 모달(reply_delete_modal) 정의 부분 -->
        <div id="reply_delete_modal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal 내용-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> 삭제 버튼을 누르셨습니다.</h4>
              </div>
              <div class="modal-body">
                <h5> 댓글을 삭제하시겠습니까? </h5>
              </div>
              <div class="modal-footer">
                <a href="/showme/reply_delete/<%= r.id %>" class="btn btn-danger">삭제</a>
                <a type="button" class="btn btn-default" data-dismiss="modal">취소</a>
              </div>
            </div>

          </div>
        </div>
    <% end %>
  </div> <!-- container 마감 -->


  <!-- 게시글 삭제 모달(post_delete_modal) 정의 부분 -->
  <div id="post_delete_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal 내용-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> 삭제 버튼을 누르셨습니다.</h4>
        </div>
        <div class="modal-body">
          <h5> 게시글을 삭제하시겠습니까? </h5>
        </div>
        <div class="modal-footer">
          <a href="/showme/board_delete/<%= @post.id %>" class="btn btn-danger">삭제</a>
          <a type="button" class="btn btn-default" data-dismiss="modal">취소</a>
        </div>
      </div>

    </div>
  </div>




</body>
</html>
