<!-- 2018/01/28 웹 애플리케이션을 만드는 순서 1. 구상→기획(계획)→디자인→개발→테스트 2. 'START SMALL', 최소한의 기능으로 시작하여 중요한 기능을 추가시키자. 3. 중요한 기능을 추가시키는 것은 복잡도를 고려해야 한다. 즉 추가시킬 때에는 신중의 신중을 기하자. -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
  <div class="container">

    <div class="row">
    <!-- 테이블 제목 설정 -->
      <div class="col-xs-2 col-sm-2 col-md-2">
        <label for="showmethecoin"> Show me the Coin </label>
      </div>

      <!-- 테이블 내용 검색 부분(select,input tag) -->
      <div class="col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-xs-4 col-sm-4 col-md-4">
        <div class="row">
          <select name="search">
            <option value="title">글 제목</option>
            <option value="singer">가수 이름</option>
            <option value="song">노래 제목</option>
            <option value="email">작성자</option>
          </select>
          <input type="text" class="form-control col-xs-2" placeholder="Search">
          <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
        </div>
      </div>
    </div>

    <table class="table table-striped" style="margin-top:80px;">
      <tr>
        <th> 글 번호 </th>
        <th> 글 제목 </th>
        <th> 가수 이름 </th>
        <th> 노래 제목 </th>
        <th> 작성자 </th>
        <th> 조회수 </th>
        <th> 추천수 </th>
        <th> 작성시간 </th>
      </tr>

      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><a href="/showme/<%= post.id %>"><%= post.title %></a></td>
          <td><%= post.singer %></td>
          <td><%= post.song %></td>
          <td><%= post.user.present? ? post.user.email : "null" %></td>
          <td><%= post.hit %></td>
          <td><%= post.recom %></td>
          <td><%= time_ago_in_words(post.created_at) %> 전 </td>
        </tr>
      <% end %>
    </table>

    <div class="row">
      <%= page_entries_info @posts %>
      <%= paginate @posts, left: 1, right: 3 %><br />
      <a href="/showme/board_write_form" class="btn btn-success pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>

  </div>
</body>
</html>
