<!--

-->
<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    h1 {
      text-align:center;
    }

    #post_content {
       border: 2px solid gray;
       border-radius: 5px;
       margin : 10px 20px;
       padding : 8px 8px;
       border-left: 6px solid #eea200;
       word-wrap: break-word;
    }
  </style>
</head>

<body>
  <div class="container" style="margin-top:60px;background-color:#fefefe;border-radius:10px;">

    <div class="info" style="margin-bottom:20px;">
      <div class="label" style="vertical-align:sub;">
        <% if params[:search] %>
          <%= link_to '전체 목록', posts_path, class: "btn btn-sm btn-primary" %>
        <% else %>
          <label class="label label-kono">노래 업로드 게시판</label>
        <% end %>
      </div>

    <!-- 테이블 검색 부분 -->
      <div class="search_form" style="margin-bottom:10px;float:right;">
        <%= form_tag(posts_path, method: "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search],  style: "width:180px;", placeholder: "제목,내용,가수,노래 검색", class: "form-control col-xs-5" %>
          <button type="submit" class="btn btn-kono", style="margin-left:3px;"><i class="fa fa-search"></i></button>
        <% end %>
      </div>
    </div>

    <!-- 새로운 css 게시판 -->
    <div class="row">
      <% @posts.each do |post| %>
        <div class="row" id="post_content">
            <div class="col-sm-1">
                <%= post.id %>
            </div>

            <div class="col-sm-3">
              <%= link_to "#{post.title}", posts_path %>
            </div>

            <div class="col-sm-2">
              <%= post.user.present? ? post.user.nickname : "nil" %>
            </div>


            <div style="background-color:lightblue">
              <div class="col-sm-1">
                <i class="fa fa-eye"></i> <%= "#{post.unique_impression_count}" %>
              </div>
              <div class="col-sm-1">
                <i class="fa fa-thumbs-up"></i> <%= post.recom %>
              </div>
              <div class="col-sm-1">
                <i class="fa fa-comments"></i> <%= post.replies.count %>
              </div>
              <div class="col-sm-3">
                <span class="glyphicon glyphicon-time"></span>
                <%= "#{time_ago_in_words(post.created_at)} 전" %>
              </div>
            </div>

          </tr>
        </div>
      <% end %>
    </div>

    <%= link_to '<i class="fa fa-pencil" style="font-size:20px;"></i>'.html_safe, new_post_path, class: 'btn btn-kono pull-right' %>

    <div class="row">
        <%= paginate @posts %>
    </div>
  </div>
</body>
</html>
