<!--

2018/01/28 웹 애플리케이션을 만드는 순서 1. 구상→기획(계획)→디자인→개발→테스트 2. 'START SMALL', 최소한의 기능으로 시작하여 중요한 기능을 추가시키자. 3. 중요한 기능을 추가시키는 것은 복잡도를 고려해야 한다.
즉 추가시킬 때에는 신중의 신중을 기하자.

-->
<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
  <div class="container">
    <!-- 테이블 검색 부분 -->
    <div class="search_form" style="margin-bottom:15px;float:right;">
      <form>
          <input type="text" class="form-control col-xs-5" style="width:120px;" placeholder="제목 및 내용">
          <%= link_to '<i class="fa fa-search"></i>'.html_safe, posts_path, class: "btn btn-primary", style: "margin-left:3px;" %>
      </form>
    </div>

    <table class="table table-striped" style="margin-top:10px;">
      <tr>
        <th> 번호 </th>
        <th> 제목 </th>
        <th> 가수 </th>
        <th> 노래 </th>
        <th> 작성자 </th>
        <th> 조회수 </th>
        <th> 추천수 </th>
        <th> 작성시간 </th>
      </tr>

      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td style="width:20%"><%= link_to "#{post.title}", post_path(post.id) %> </td>
          <td><%= post.singer %></td>
          <td><%= post.song %></td>
          <td><%= post.user.present? ? post.user.email : "null" %></td>
          <td><%= "#{post.unique_impression_count}" %></td>
          <td><%= post.recom %></td>
          <td><%= "#{time_ago_in_words(post.created_at)} 전" %></td>
        </tr>
      <% end %>
    </table>

    <%= link_to '<i class="fa fa-pencil" style="font-size:20px;"></i>'.html_safe, new_post_path, class: 'btn btn-primary pull-right' %>

    <div class="row">
        <%= paginate @posts %>
    </div>
  </div>
</body>
</html>
