<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">

      .panel {
        border: 2px solid lightgray;
        padding: 1px 20px;
        margin-top: 20px;
      }

      #rank {
        background-color : #dedede;
      }

    </style>
  </head>
  <body>

    <div class="container">
      <!-- 첫 번째 줄 -->
      <div class="row">
        <div class="col-sm-4">
          <div class="panel">
            <h3> 공지사항 </h3>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel">
            <h3> 노래 업로드 게시판 </h3>
            <% @posts.each do |post| %>
              <p><i class="fa fa-caret-right"></i>&nbsp;<%= link_to "#{post.title}", posts_path %></p>
            <% end %>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel">
            <% unless user_signed_in? %>
             <div>
              <%= link_to '로그인 하러 가기'.html_safe, new_user_session_path, class: "btn btn-primary", style: "margin-left:20px;" %>
              <p style="text-align:center;"> 해당 서비스를 이용하시려면 로그인 해주세요 </p>
            </div>
            <% else %>
              <h3> 로그인 정보 </h3>
              <p> <%= current_user.nickname %> 님 안녕하세요! </p>
              <p> 로그인 횟수 : <%= current_user.sign_in_count %> </p>
              <p> 최근 로그인 한 시간 : <%= current_user.last_sign_in_at %></p>
              <p> 최근 로그인 한 ip : <%= current_user.last_sign_in_ip %> </p>
              <p> 현재 로그인 한 시간 : <%= current_user.current_sign_in_at %></p>
              <p> 현재 ip : <%= current_user.current_sign_in_ip %> </p>
            <% end %>
          </div>
        </div>
      </div>

      <!-- 두 번째 줄 -->
      <div class="row">
        <div class="col-sm-4">
          <div class="panel">
            <h3> 자유게시판 </h3>
            <% sendBulletin(1).each do |board| %>
              <p><i class="fa fa-caret-right"></i>&nbsp;<%= link_to "#{board.title}", [board.bulletin, board] %></p>
            <% end %>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel">
            <h3> QnA게시판 </h3>
            <% sendBulletin(2).each do |board| %>
              <p><i class="fa fa-caret-right"></i>&nbsp;<%= link_to "#{board.title}", [board.bulletin, board] %></p>
            <% end %>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel">
            <h3> 활동왕 순위 </h3>
          </div>
        </div>
      </div>

      <!-- 세 번째 줄 -->
      <div class="row">
        <div class="col-sm-4">
          <div class="panel">
            <h3> 노래 추천 게시판 </h3>
            <% sendBulletin(3).each do |board| %>
              <p><i class="fa fa-caret-right"></i>&nbsp;<%= link_to "#{board.title}", [board.bulletin, board] %></p>
            <% end %>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel">
            <h3> 노래방 추천 게시판 </h3>
            <% sendBulletin(4).each do |board| %>
              <p><i class="fa fa-caret-right"></i>&nbsp;<%= link_to "#{board.title}", [board.bulletin, board] %></p>
            <% end %>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel">
            <h3> 미정 </h3>
          </div>
        </div>
      </div>
    </div> <!-- container -->

    <hr />

    <!-- 홈페이지 소개 -->
    <div class="container">
      <!-- 노래 업로드 기능 -->
      <div class="col-sm-4" style="border-right:2px solid lightgray;">
        <h3> 노래 업로드 </h3>
        <p>
          본인이 직접 녹음한 mp3파일을
          업로드 게시판에 올리세요!
          다른 사용자들이 올린 음악을 듣고 평가할 수 있습니다.
       </p>
      </div>

      <!-- 노래방 찾기 기능 -->
      <div class="col-sm-4" style="border-right:2px solid lightgray;">
        <h3> 노래방 찾기 </h3>
        <p>
          우리나라에 있는 모든 노래방의 위치를 알려드립니다.
          코인 노래방 / 일반 노래방을 분류하였고,
          현재 위치에서 도보로 걸리는 시간을 알 수 있습니다.
        </p>
      </div>

      <!-- 다양한 게시판 -->
      <div class="col-sm-4">
        <h3> 음악과 관련된 모든 게시판 </h3>
        <p>
           음악 업로드, 최신음악 게시판, 마이 플레이리스트 게시판
           ,앨범 중고장터 게시판등 다양한 커뮤니티를 제공합니다.
        </p>
      </div>
    </div>

    <!-- 홈페이지 footer -->
    <footer>
      <div class="footer" id="footer">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4">
                      <h4> COMPANY </h4>
                        <span>Copyright © 2018 Nikonokono</span>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <h4> SERVICE </h4>
                        <p>  노래방 위치찾기 &nbsp;&nbsp;|&nbsp;&nbsp;  음악 파일 업로드 &nbsp;&nbsp;|&nbsp;&nbsp; 회원기반 게시판 <p>

                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <h4> Contacts </h4>
                      <div class="contacts" style="text-align:center;">
                        <p style="margin-left:20px;"><i class="fa fa-envelope"></i>&nbsp;&nbsp; monki0120@naver.com</li>
                        <p><i class="fa fa-phone"></i>&nbsp;&nbsp; +02 010-8934-2922 </li>
                      </div>
                  </div>
              </div>

              <!--/.row-->
              <div class="row">
                <a href="https://www.facebook.com/profile.php?id=100008771143451" style="font-size:20px"><i class="fa fa-facebook"></i></a>
                &nbsp;&nbsp;
                <a href="https://github.com/likelion-hoon" style="font-size:20px"><i class="fa fa-github"></i></a>
                &nbsp;&nbsp;
                <a href="https://www.facebook.com/profile.php?id=100008771143451" style="font-size:20px"><i class="fa fa-medium"></i></a>
              </div>
          </div>
          <!--/.container-->
      </div>
    <!--/.footer-->
    </footer>
  </body>
</html>
