<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    .borderless td, .borderless th {
      border: none;
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function() {

      // 추천 버튼에 tooltip 기능 추가
      $('[data-toggle="tooltip"]').tooltip();

      // ajax 사용
      $('.reply_submit').click(function(){

        post_id = this.value;
        content = $("#reply_content_"+post_id).val();
        email = $("#reply_email").val();
        time = $("#reply_time").val();

        $.ajax({
           type: "POST",
           url: "/showme/reply_write",
           data: {
             id : post_id,
             reply_email : email,
             reply_content : content
           },
           error: function(request,status,error) {
             alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
           },
           success: function() {
             $("#reply_show_"+post_id).
             append("<div class='well' <p> 작성자 : " + email +
             "<span class='pull-right'><a onclick='alertNotice()' class='btn btn-xs btn-danger'>삭제</a></span></p><p> 내용  : " + content +
             "</p><p> 작성시간  : " + time +
             "</p></div>");
             $("#reply_content_"+post_id).val('');
           }
         });
      });
    }); // ready의 마지막 부분

    function alertNotice() {
      alert("새로고침 이후에 가능합니다.");
    }

  </script>
</head>
<body>

  <!-- 알림 기능 -->
  <p id="notice"><%= notice %></p>

  <div class="container" style="margin-top:80px">
<<<<<<< HEAD
      <div class="row">
        <div class="title">
          <h2>글 제목 : <%= @post.title %></h2>
        </div>
      </div>

      <div class="row">
        <div class="info" style="margin-top:20px">
          <div class="first_info" style="float:left;">
            <h5>작성자 : <span class="label label-primary"><%= User.find(@post.user_id).nickname %></span></h5>
            <label> 가수 이름 : </label>
            <%= @post.singer %>
            &nbsp;|&nbsp;
            <label> 노래 제목 : </label>
            <%= @post.song %>
          </div>

          <div class="last_info" style="float:right;">
              <span class="glyphicon glyphicon-time"></span>
              <%= "#{time_ago_in_words(@post.created_at)} 전" %>
              &nbsp;|&nbsp;
              <i class="fa fa-eye"></i>
              <%= "#{@post.unique_impression_count}" %>
              &nbsp;|&nbsp;
              <i class="fa fa-comments"></i>
              <%= "#{@post.replies.count}" %>
              &nbsp;|&nbsp;
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <%= @post.recom %>
          </div>
        </div>
      </div>

      <hr />

      <!-- 글 제목 표시 부분 -->
      <div class="row">
        <div class="content" style="min-height:200px;"><%= @post.content.html_safe %></div>
      </div>
      <hr />

      <!-- 노래 듣는 영역 -->
      <div class="listen">
        <audio controls><source type="audio/mpeg"></audio>
      </div>
=======
    <h1 style="text-align:center;margin-bottom:50px"> Show me the Coin </h1>

    <table class="table table-condensed borderless">
      <tr>
        <td ><label> 글 번호 </label></td>
        <td colspan="2"> <%= @post.id %> </td>
      </tr>

      <tr>
        <td ><label> 글 제목 </label></td>
        <td colspan="3"><%= @post.title %></td>
      </tr>

      <tr>
        <td ><label> 작성자 </label></td>
        <td colspan="3"><%= @post.user.email %></td>
      </tr>

      <tr>
        <td ><label> 글 내용 </label> </td>
        <td colspan="3"> <%= @post.content.html_safe %></td>
      </tr>

      <tr>
        <td ><label> 작성 시간 </label> </td>
        <td colspan="3"><%= "#{time_ago_in_words(@post.created_at)} 전" %></td>
      </tr>

      <tr>
        <td><label> 가수 이름 </label></td>
        <td><%= @post.singer %></td>
        <td><label> 노래 제목 </label></td>
        <td><%= @post.song %></td>
      </tr>

      <tr>
        <td><span class="glyphicon glyphicon-thumbs-up"></span></td>
        <td> <%= @post.recom %> </td>
        <td><label> 조회수 </label></td>
        <td><%= "#{@post.unique_impression_count}" %></td>
      </tr>
      <tr>

      <tr>
        <td><label> 노래 듣기 </label></td>
        <td colspan="3">
          <audio controls><source type="audio/mpeg"></audio>
        </td>
      </tr>
      <tr>
    </table>
>>>>>>> parent of 98d633b... 게시판 검색 기능 추가

    <!-- 추천 누르는 부분 tooltip(타인의 글을 추천할 수 있습니다.)으로 꾸미기 -->
    <% if @post.user_id != current_user.id %>
      <div class="thumb-up" style="text-align:center;" data-toggle="tooltip" data-placement="bottom" title="다른 사람의 노래를 추천할 수 있습니다.">
        <%= link_to "", showme_recommend_path(@post.id), class: 'glyphicon glyphicon-thumbs-up', data: {confirm: '해당 노래를 추천하시겠습니까?'}, style: 'font-size:30px;' %>
      </div>
    <% end %>

    <div class="update" style="text-align:right">
      <% if user_signed_in? && current_user.email == @post.user.email %>
        <%= link_to "수정", edit_post_path(@post), class: "btn btn-info" %>
        <a class="btn btn-info" data-toggle="modal" data-target="#post_delete_modal"> 삭제 </a>
        <%= link_to "목록", posts_path, class: "btn btn-info" %>
      <% else %>
        <%= link_to "목록", posts_path, class: "btn btn-info" %>
      <% end %>
    </div>

    <hr />

    <!-- 댓글을 쓰는 부분 -->
    <div class="well">
         <div style="margin-bottom:10px;">
           <% if user_signed_in? %>
            <label> E-mail : <%= current_user.email %> </label>
           <% else %>
            <p> 로그인시에 댓글 서비스를 이용할 수 있습니다. </p>
           <% end %>
         </div>

         <input type="hidden" id="reply_email" name="reply_email" value="<%= current_user.email %>">
         <div style="margin-bottom:10px;">
           <textarea name="reply_content" class="form-control"
           style="height:80px" id="reply_content_<%= @post.id %>"
           placeholder="명예를 훼손하는 게시물은 이용약관 및 관련 법률에 의해 제재를 받을 수 있습니다."></textarea>
         </div>
         <input type="hidden" id="reply_time" name="reply_time" value="<%= Time.new.inspect[0..18] %>">
         <div style="margin-bottom:10px;">
           <button value="<%= @post.id %>" type="submit" class="btn btn-success reply_submit"> 작성 </button>
         </div>
    </div>


    <!-- ajax시 댓글이 나타나는 부분 -->
    <div id="reply_show_<%= @post.id %>">
    </div> <!-- reply_show 마감 -->
    <% @post.replies.reverse_each do |r| %>
        <div class="well">
          <p> 작성자 : <%= r.email %>
            <% if user_signed_in? && current_user.email == r.email %>
              <span class="pull-right"><a href="/showme/reply_delete/<%= r.id %>" class="btn btn-xs btn-danger">삭제</a></span>
            <% end %>
          </p>
          <p> 내용  : <%= r.content %></p>
          <p> 작성시간 : <%= "#{time_ago_in_words(r.created_at)} 전" %> </p>
        </div>
    <% end %>

  </div> <!-- container 마감 -->



  <!-- 게시글 삭제 모달(post_delete_modal) 정의 부분 -->
  <div id="post_delete_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal 내용-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> 삭제 버튼을 누르셨습니다.</h4>
        </div>
        <div class="modal-body">
          <h5> 게시글을 삭제하시겠습니까? </h5>
        </div>
        <div class="modal-footer">
          <%= link_to '삭제', @post, method: :delete , class: "btn btn-danger" %>
          <a type="button" class="btn btn-default" data-dismiss="modal">취소</a>
        </div>
      </div>

    </div>
  </div>

  <!-- 댓글 삭제 모달(reply_delete_modal) 정의 부분
  <div id="reply_delete_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> 삭제 버튼을 누르셨습니다.</h4>
        </div>
        <div class="modal-body">
          <h5> 댓글을 삭제하시겠습니까? </h5>
        </div>
        <div class="modal-footer">
          <a href="/showme/reply_delete/<%#= r.id %>" class="btn btn-danger">삭제</a>
          <a type="button" class="btn btn-default" data-dismiss="modal">취소</a>
        </div>
      </div>

    </div>
  </div> -->
</body>
</html>
