<!DOCTYPE html>
<html>
  <head>
    <title>Nikonokono2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- jQuery library 추가 -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/map/index">Nikonokono
          <span class="glyphicon glyphicon-music" aria-hidden="true"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li> <a href="/map/index">
              <span class="glyphicon glyphicon-home"></span> 메인페이지 </a></li>
            <li> <a href="/map/map">
              <span class="glyphicon glyphicon-map-marker"></span> 위치 찾기 </a></li>
            <li> <a href="/showme/board">
              <span class="glyphicon glyphicon-record"></span> Show me the Coin
            </a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <% if user_signed_in? %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
              <% else %>
                <a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> 로그인</a>
              <% end %>

              <ul class="dropdown-menu">
                  <li><a href="/users/sign_out" method="get"><span class="glyphicon glyphicon-log-out"></span> 로그아웃</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-user"></span> 나의 프로필 </a></li>
              </ul>
            </li>
          </ul> <!-- navbar-right의 끝 -->
        </div> <!-- collapse navbar-collapse 의 끝-->
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <%= yield %>
  </body>
</html>
